body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 40px;
}

h1 {
  color: #007bff;
}

h2 {
  color: #009900;
}

#inputContainer {
  margin-bottom: 10px;
}

#listsContainer {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.hidden {
  display: none;
}

/* Remove bullet points from the list */
#draftOrderList, #originalList {
  list-style-type: none;
  padding: 0;
}

#draftOrderList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}